{% extends "layout.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<h1>STEMMING TIGRIGNA DOCUMENT</h1>
		<h3>Introduction</h3>
		<p>
			A word is a string of letters organized in such a way that they can represent the meaning of
    	language expression about objects and ideas. It is common in texts to find affix variations of
			words. Research in the area of information retrieval (IR) aims to find a single representation for
			such words, thus providing the user with a broader search result. Stemming algorithms are an
			option for this task.
</p>
<p>
			Nowadays many tools are provided for information retrieval. There are some interesting
			categories of available information retrieval software. We can find a variety of Internet
			search engines with advanced search parameters, specialized search engines for
			retrieving documents in a document collection, data mining and clustering tools as well as
			other classification tools. During their development, we can notice an ongoing
			specialization in the searching features. These engines are becoming more and more
			sophisticated trying to cover user‟s demands to access specific information. One of the
			attempts to make the search engines more effective in information retrieval was the usage
			of word stemming.
		</P>
  	<h3> Project Aim and Objective</h3>

		<p>

			Developing this project has specific objectives such as Review literature to have a clear
			understanding of the area and identify different stemming algorithms that have been
			developed for other languages. Review the properties of the Tigrinya language in order to
			get familiar with the different aspects of the language and know how the separation of
			words is achieved. Build a stop word list in the Tigrinya language and compile a list of
			Affixes used in Tigrinya. Select an appropriate stemming algorithm for the Tigrinya
			language.
		</P


	</body>
</html>


{% endblock content %}
